body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(/std.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container {
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow:none ;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #f6f1f1eb;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #f10707;
}
